body {
    background-color: black;
}
h1 {
    font-size: 3rem;
    text-transform: uppercase:
}
img {
    border: 5px solid white;
    width:100%
}
.poster {
    width: 50%;
    margin-left:25%;
    margin-top:100%;
    color: white;
    text-align: center;
}